.img-social {
  border: 3px solid #f8f9fa;
  border-radius: 50%;
  width: 203px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
}

.header-name:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 15px;
  border-bottom: 1px solid #fff;
}

.about-header {
  padding-bottom: 20px;
}

.portfolio-header {
  padding-bottom: 20px;
}

.col-sm-6 {
  padding-bottom: 15px;
}

.contact-header {
  padding-bottom: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #007bff;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.hidden {
  display: none;
}

.g-recaptcha {
  padding-bottom: 15px;
}

.footer a {
  color: #70726f;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726f;
  transition: all 0.5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726f;
}
.footer a:hover {
  color: white;
  text-decoration: none;
}

.social-icons {
  padding-top: 15px;
  text-align: center;
}

.social-icons .avatar-icons {
  color: #ffffff;
}

.social-icons .avatar-icons:hover {
  color: rgba(255, 255, 255, 0.5);
}
